<div *ngFor="let genre of genresMovies;index as i">
    <div class="row genreTitulo" style="width: 80%;">
        <div class="col-md-auto">
            <h1 tabindex="4">{{genre.name}}</h1>
        </div>
        <div class="col-md-auto resize">
            <a tabindex="4" (click)="moviesByGenre(genre)">Mais filmes...</a>
        </div>
    </div>
    <app-genre-movie-list [parentData]="genre.id" [indexData]="i"></app-genre-movie-list>
</div>