h1{
    color: white;
    font-weight: bold;
    font-size: 300;
    padding-left: 3.2%;
    margin-top: 2%;
    margin-bottom: 0.5%;
    width: max-content;
}

a{
    color: #79b8f3;
    font-size: 14px;
    cursor: pointer;
    font-weight: 100;
}

a:hover{
    color: #90dffe;
}

.genreTitulo{
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 0.5%;
    a{
        position: absolute;
        width: max-content;
        padding-top: 70%;
    }
}

.resize{
    padding-left: 0;
}