<div *ngIf="movieDetail != null" class="details">
<div>
    <div class="row" >
        <div class="col-sm-8 redim" >
            <div class="title">
                <h1 tabindex="4">
                    {{ movieDetail.title }}
                </h1>
            </div>
            <div class="leftSide">
                <div class="row numberDetails" [ngStyle]="{'font-size': font}">
                    <div class="row" tabindex="5">
                        <fa-icon class="col-sm-1" [icon]="faStar" aria-label="Nota do Filme" style="color:yellow"></fa-icon>
                        <span class="col-sm-2">{{ movieDetail.vote_average }}</span>
                    </div>
                    <div class="col-md-auto infoSpan" tabindex="6">
                        <span aria-label="Duração do filme"></span>
                        <span class="infoSpan">{{ movieDetail.runtime }}</span>
                        <span aria-hidden="true">min</span>
                        <span aria-label="minutos"></span> 
                    </div>
                    <div class="col-md-auto infoSpan" tabindex="7">
                        <span aria-label="Ano de estreia"></span>
                        <span class="infoSpan">{{ movieDetail.release_date | date: 'yyyy'}}</span>
                    </div>
                </div>
            
                <div class="overview" [ngStyle]="{'font-size': font}">
                    <p tabindex="8">
                        {{ movieDetail.overview }}  
                    </p>
                </div>
            
                <div tabindex="9" class="crewInfo" [ngStyle]="{'font-size': font}"> 
                    <dl class="row">
                        <dt class="col-sm-2">
                            <span >Diretor</span>
                        </dt>
                        <dd  class="col-md-auto">  
                            {{ directorName }}
                        </dd>
                    </dl>
                    <dl *ngIf="movieCredits != null && mainActors != null" class="row">
                        <dt *ngIf="mainActors != null" class="col-sm-2">
                            <span >Atores principais</span>
                        </dt>
                        <dd class="col-md-auto">
                            <span >{{ actors }}</span>
                        </dd>
                    </dl>
                    <dl class="row">
                        <dt  class="col-sm-2">
                            <span >Gêneros</span>
                        </dt>
                        <dd  class="col-md-auto">
                            <span >{{ genres }}</span>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="rightSide">
                <img tabindex="10" *ngIf="movieDetail.poster_path != null" src="{{urlGetPoster + movieDetail.poster_path}}" alt="Poster do filme {{movieDetail.title}}"/>
                <img tabindex="10" *ngIf="movieDetail.poster_path == null || movieDetail.poster_path == ''" src="../../../assets/img/no_poster.PNG" alt="Poster do filme {{movieDetail.title}}"/>
            </div>
        </div>
    </div>
</div>

</div>