img {
    height: 300px;
    margin: 0;
}

.details{
    color: white;
    margin-top: 10%;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
}

mat-grid-list{
    margin-top: 4%;
}

.title{
    position: relative;
    h1{
        font-size: 32px;
    }
}

.redim{
    width: 60% !important;
    margin-left: 5%;
    position: relative;
    height: 300px;
}

.overview{
    margin-top: 4%;
    font-size: 16px;
    text-align: justify;
}

.infoSpan{
    padding-right: 2%;
}

.numberDetails{
    font-size: 18px;
    font-weight: 500;
    margin-left: 0;
    span{
        color: #8197a4;
    }

    fa-icon{
        padding-right: 0.5%;
    }
}

.crewInfo{
    font-size: 18px;
    font-weight: 500;
    color: #8197a4;

    dd{
        color: #79B8F3;
    }
}

.crewInfo .row{
    margin-bottom: 0;
}

.leftSide{
    margin-bottom: 10%;
}

.rightSide{
    margin-bottom: 10%;
}