<mat-toolbar>
    <span tabindex="2" class="nameApp" routerLink="/home">Catálogo de Filmes</span>
    <span class="example-fill-remaining-space"></span>
    <div class="acessibilidade">
      <button class="buttonStyle" (click)="changeClass()" title="Auto contraste" aria-hidden="true" tabindex="-1" ><fa-icon [icon]="faAdjust" style="color:white"></fa-icon></button>
      <button class="buttonStyle" (click)="increaseFont()" aria-hidden="true" tabindex="-1">A+</button>
      <button class="buttonStyle" (click)="resetFont()" aria-hidden="true" tabindex="-1">A</button>
      <button class="buttonStyle" (click)="decreaseFont()" aria-hidden="true" tabindex="-1">A-</button>
    </div>
      <fa-icon [icon]="faSearch"></fa-icon>
      <input tabindex="2" class="form-control form-control-sm ml-3 w-75" id="inputSearch" type="text" placeholder="Busca" maxlength="40" 
        aria-label="Barra de pesquisa" (keyup)="onKey($event)">
</mat-toolbar>