:focus {outline:0 !important;}

.nameApp{
    padding-left: 2%;
    cursor: pointer;
}

.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

#inputSearch{
    width: 15% !important;
}

.buttonStyle{
    background: transparent;
    border: 1px solid white;
    color: white;
    margin-right: 2%;
    margin-left: 2%;
    border-radius: 15%;
    width: 30px;
}

.acessibilidade{
    margin-right: 50px;
}

