img {
    width: 100%;
    height: 300px;
    margin: 0;
    border-top-left-radius: 3% ;
    border-top-right-radius: 3% ;
    cursor: pointer;
}

.card{
    max-width: 250px;
    max-height: 600px;
    min-width: 250px;
    height: 450px;
}

p{
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 3; /* number of lines to show */
}

mat-card{
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    border-top-left-radius: 3% ;
    border-top-right-radius: 3% ;
    border-bottom-left-radius: 3% ;
    border-bottom-right-radius: 3% ;

    mat-card-title{
        h2{
            font-size: 16px;
            font: unset;
        }
    }

    mat-card-subtitle{
        font-size: 16px;
    }

    mat-card-content{
        padding-left: 5%;
        padding-right: 5%;
    }
}

.genreHeader{
    color: #8197a4;
    font-size: 18px;
    height: 5%;
    display: table;
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 3%;
}

.genreInner{
    display: table-cell;
    border-bottom: 1px solid #425265;
    vertical-align: middle;
    align-content: center;
    font-size: 24px;

    h1{
        margin-bottom: 2%;
        font-size: 22px;
    }
}
