<div class="genreHeader">
    <div class="genreInner">
        <h1 tabindex="4">{{genre?.name}}</h1>
    </div>
</div>
<div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
    <mat-grid-list *ngIf="movieList != null && movieList.length != 0" cols="4" rowHeight="500px">
        <mat-grid-tile
            *ngFor="let movie of movieList"
            [colspan]='1'
            [rowspan]='1'
            [style.background]="transparent">
            <mat-card class="card" tabindex="5">
            <img *ngIf="movie.poster_path != null" class="poster" src="{{urlGetPoster + movie.poster_path}}" (click)="movieDetails(movie)" alt="Poster do filme {{movie.title}}"/>
            <img *ngIf="movie.poster_path == null || movie.poster_path == ''" class="poster" src="../../../assets/img/no_poster.PNG" (click)="movieDetails(movie)" alt="Poster do filme {{movie.title}}"/>
            <mat-card-header>
                <mat-card-title [ngStyle]="{'font-size': font}">
                    <h2  tabindex="6">{{movie.title}}</h2>
                </mat-card-title>
                <mat-card-subtitle tabindex="7" [ngStyle]="{'font-size': font}">
                    <span aria-label="Data de estreia"></span>
                    {{ movie.release_date | date: 'dd/MM/yyyy' }}
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content [ngStyle]="{'font-size': font}">
                <p *ngIf="movie.overview != null && movie.overview != ''" tabindex="8">
                    {{ movie.overview }} 
                </p>
                <p *ngIf="movie.overview == null || movie.overview == ''" tabindex="8">
                    Resumo não encontrado 
                </p>
            </mat-card-content>
        </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
</div>
