<swiper [config]="config" #usefulSwiperGenreMovie>
    <div class="swiper-wrapper" id="sliderContent">
        <div class="swiper-slide" *ngFor="let movie of movieList">
            <mat-card class="card" tabindex="7"> 
                <img   *ngIf="movie.poster_path != null" src="{{urlGetPoster + movie.poster_path}}" (click)="movieDetails(movie)" alt="Poster de {{movie.title}}"/>
                <img   *ngIf="movie.poster_path == null || movie.poster_path == ''"  src="../../../assets/img/no_poster.PNG" (click)="movieDetails(movie)" alt="Poster de {{movie.title}}"/>
                <mat-card-header>
                    <mat-card-title [ngStyle]="{'font-size': font}">
                        <h2  tabindex="9">{{movie.title}}</h2>
                    </mat-card-title>
                    <mat-card-subtitle tabindex="10" [ngStyle]="{'font-size': font}">
                        <span aria-label="Data de estreia"></span>
                        {{movie.release_date | date: 'dd/MM/yyyy'}}
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content [ngStyle]="{'font-size': font}">
                    <p tabindex="11" *ngIf="movie.overview != null && movie.overview != ''">
                        {{movie.overview}} 
                    </p> 
                    <p tabindex="11" *ngIf="movie.overview == null || movie.overview == ''">
                        Resumo não encontrado 
                    </p>
                </mat-card-content>
            </mat-card>
            <!-- <img src="{{urlGetBanner + bannerUrl}}"/> -->
        </div>
    </div>
    
    <!-- Add Arrows -->
    <div aria-hidden="true" class="swiper-button-next swiper-button-white" id="rightSwiper" (click)="nextSlide()"></div>
    <div aria-hidden="true" class="swiper-button-prev swiper-button-white" id="leftSwiper" (click)="previousSlide()"></div>
    
    </swiper>