.appAttr{
    background-color: #1a232e;
}

#wrapperContainer{
    margin-top: 0.1%;
    overflow: hidden;
    position: absolute;
    width: 99%;
    z-index: 2;
}

#acessibilidade{
    float: right;
    font-size: 18px;
    padding-right: 1%;
    
}

.buttonStyle{
    background: transparent;
    border: 0;
    color: white;
}

#altoContraste{
    padding: 0;
    text-decoration: underline;
}
