<div [class.altoContrasteActivated]="altoContraste=='true'">
  <app-header (altoContrasteEvent)="altoContraste=$event"></app-header>
  <!--The content below is only a placeholder and can be replaced.-->
    <router-outlet></router-outlet>
  <app-footer></app-footer>
  
</div>
