img {
    width: 100%;
    height: 300px;
    margin: 0;
    border-top-left-radius: 3% ;
    border-top-right-radius: 3% ;
    cursor: pointer;
}

.card{
    max-width: 250px;
    max-height: 600px;
    min-width: 250px;
    height: 450px;
}

p{
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 3; /* number of lines to show */
}

mat-card{
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    border-top-left-radius: 3% ;
    border-top-right-radius: 3% ;
    border-bottom-left-radius: 3% ;
    border-bottom-right-radius: 3% ;

    mat-card-title{
        h2{
            font-size: 16px;
            font: unset;
        }
    }
    
    mat-card-subtitle{
        font-size: 16px;
    }

    mat-card-content{
        padding-left: 5%;
        padding-right: 5%;
    }
}

.noResult{
    color:white;
    text-align: center;
    margin-top: 20%;
    height: 45vh;
}

mat-grid-list{
    margin-top: 2%;
}