<div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
    <mat-grid-list *ngIf="movieList != null && movieList.length != 0" cols="4" rowHeight="500px">
        <mat-grid-tile
            *ngFor="let movie of movieList"
            [colspan]='1'
            [rowspan]='1'
            [style.background]="transparent">
            <mat-card class="card" tabindex="4">
            <img   *ngIf="movie.poster_path != null" class="poster" src="{{urlGetPoster + movie.poster_path}}" (click)="movieDetails(movie)" alt="Poster do filme {{movie.title}}"/>
            <img   *ngIf="movie.poster_path == null || movie.poster_path == ''" class="poster" src="../../../assets/img/no_poster.PNG" (click)="movieDetails(movie)" alt="Poster do filme {{movie.title}}"/>
            <mat-card-header>
                <mat-card-title tabindex="5" [ngStyle]="{'font-size': font}">
                    <h2  tabindex="5">{{movie.title}}</h2>
                </mat-card-title>
                <mat-card-subtitle tabindex="6" [ngStyle]="{'font-size': font}">
                    <span aria-label="Data de estreia"></span>
                    {{ movie.release_date | date: 'dd/MM/yyyy'}}
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content [ngStyle]="{'font-size': font}">
                <p *ngIf="movie.overview != null && movie.overview != ''" tabindex="7">
                    {{ movie.overview }} 
                </p>
                <p *ngIf="movie.overview == null || movie.overview == ''" tabindex="7">
                    Resumo não encontrado 
                </p>
            </mat-card-content>
        </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
      <div *ngIf="movieList == null || movieList.length == 0" class="noResult" tabindex="8">
        <h2>Não encontramos resultados para "{{pesquisa}}"</h2>
      </div>
</div>