<!-- <div>
    <ul class="slider">
        <li *ngFor="let bannerUrl of nowPlaying; let i = index">
            <input *ngIf="i == 0" type="radio" id="slide{{i + 1}}" name="slide" checked>
            <input *ngIf="i != 0" type="radio" id="slide{{i + 1}}" name="slide">
            <label for="slide{{i + 1}}"></label>
            <img src="{{urlGetBanner + bannerUrl}}"/>
        </li>

    </ul>
</div> -->
<swiper aria-hidden="true" tabindex="-1" [config]="configBanner" #usefulSwiper style="text-align: center;">
<div aria-hidden="true" tabindex="-1" class="swiper-wrapper">
    <div aria-hidden="true" tabindex="-1" class="swiper-slide" *ngFor="let bannerUrl of nowPlaying">
        <img src="{{urlGetBanner + bannerUrl}}"/>
    </div>
</div>

<!-- Add Pagination -->
<div aria-hidden="true" tabindex="-1" class="swiper-pagination" id="teste"></div>

</swiper>

<div style="text-align: left;">
    <app-genre-list></app-genre-list>
</div>

