/* You can add global styles to this file, and also import other style files */
html, body { height: 100vh;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: #1a232e;}
* {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
  }

  .swiper-pagination-bullet {
   width: 15px !important;
   height: 15px !important;
   color: white !important;
   background: white !important;
 }
 .swiper-pagination-bullet-active {
   background: white !important;
 }


 .altoContrasteActivated{
  background: black !important;


  mat-card{
    border: 1px solid white;
    background: black;
  }

  mat-card:hover{
    border: 1px solid yellow;
  }

  mat-card-subtitle{
    color: white;
  }

  a{
    color: yellow !important;
  }

  a:hover{
    color: #FCF4A3 !important;
  }

  dd{
    color:white !important;
  }

  dt{
    color:white !important;
  }

  .buttonStyle{
    fa-icon{
      color: yellow !important;
    }
  }

  span{
    color:white !important;
  }

  .genreInner h1{
    color: white;
  }
}


.noResult{
  color:white;
  text-align: center;
  margin-top: 20%;
  height: 45vh;
}

